header {
    background-color: #0F0F0F;
    width: 100%;
    height: 10.5vh;
    border-bottom: solid #0F0F0F 3px;
}

#header-items {
    width: 100%;
    height: 22px;
    display: flex;
    flex-direction: row;
}

#header-items>section>div>a {
    font-family: Roboto, sans-serif;
    color: #FFFFFFCC;
    font-size: 16;
    font-weight: 500;
    text-decoration: none;
}

#header-items>section>div>a:hover {
    color: #408BEA;
    cursor: pointer;
}

#h-item-logo {
    width: 15%;
    height: 12px;
    background-color: #1B1B1B;
    display: flex;
    align-items: center;
    justify-content: center;
}

#h-item-logo>a {
    font-family: Roboto, sans-serif;
    color: white;
    font-size: 24px;
    text-decoration: none;
    font-weight: bold;
}

#h-item-routes {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 1.7%;
    width: 57%;
}

.h-item-routes-div {
    width: 10%;
}

#h-item-search {
    width: 28%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#search-btn {
    background-color: #1B1B1B;
    border: none;
    width: 75%;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    padding-left: 10px;
    font-weight: bold;
}

#search-icon {
    background-color: #1B1B1B;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}

#search-icon:hover {
    cursor: pointer;
}

#search-icon>a:hover {
    color: #408BEA;
}